body{
    background-color: rgb(190, 190, 190);
    width:100vw
}
.imgContainer{
    overflow: hidden;
   height: 350px;
}


aside{
    min-width: 270px;
    right: 0;
    top:55px;
    position:absolute ;
    display: none;
    background-color: rgb(188, 228, 215);
    z-index: 1;
    display:0;
    height:400px;
    overflow: scroll;
    padding: 10px;
}


aside .card{
    min-width: 250px;
}

aside .card .card-body{
    padding:2px;
}

aside .card img{
    height:90px;
    width:70px;

}

.hideAsideBtn{
    position: absolute;
    right: 1%;
    top: 1%;
}

.hideElement{
    display:block;
}



main .card{
    box-sizing: border-box;
    border : 5px solid white;
    box-shadow: 0 0 5px 5px rgb(190, 189, 189);
}

.addRedBorder{
    /* border : 5px solid red !important; */
    box-shadow: 0 0 10px 10px rgb(87, 75, 75) !important;
}
 
main .card button{
width:205px;
}