body{
    
    width:100vw
}
.imgContainer{
    overflow: hidden;
   height: 350px;
}

aside{
    right: 0;
    top:8%;
    position:absolute ;
    height: 53vw;
    width: 30vw;
    background-color: rgb(188, 228, 215);
    z-index: 1;
    opacity:0;

}
aside .container{
position:relative;
}

.hideAsideBtn{
    position: absolute;
    right: 1%;
    top: 1%;
}

.hideElement{
    opacity:1;
}